/*--------------------------------------------------------------------------
	Round Top, Right, Bottom, Left corners
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Round Corners
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Give it a Shadow
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Gradient
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Rotate
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Switch Box Model (border-box or content-box)
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Transitions (Delay isn't used here...)
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	3D Button/Bevel Style
	--------------------------------------------------------------------------*/
/* Bevels like a button, but no text shadow */
/* For small, actual buttons (with text shadow) */
/*--------------------------------------------------------------------------
	Utilities
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
The Typeface
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Colours (ALL COLOUR INFO GOES HERE, AND ONLY HERE)
--------------------------------------------------------------------------*/
body#navy {
  color: #3c3a89;
}
body#navy a {
  color: #3c3a89;
}
body#navy .thumbnail {
  border-color: #3c3a89;
}
body#navy .category_card {
  background: #f05123;
  color: #cbe8db;
}
body#navy .tooltip {
  background: #3c3a89;
  color: #cbe8db;
}
/*--------------------------------------------------------------------------
Misc Tag Setup
--------------------------------------------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 30px;
  font-family: "news-gothic-std", 'News Gothic MT', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
a {
  text-transform: none;
}
/*--------------------------------------------------------------------------
The Header
--------------------------------------------------------------------------*/
header {
  position: relative;
  height: 80px;
  text-align: center;
  font-size: 13px;
  line-height: 17px;
}
header #logo a {
  display: inline-block;
  width: 177px;
  height: 73px;
  text-indent: -5000px;
  background: url(../images/wordmark.blue.png);
}
header .timer {
  color: #f05123;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}
header .timer#minutes-and-seconds {
  right: 0;
}
header .timer var {
  font-style: normal;
}
/*--------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------*/
#page-wrapper {
  position: relative;
  margin-top: 30px;
  font-size: 13px;
  line-height: 17px;
}
#page-wrapper.three-columns #content {
  width: 70%;
  margin-left: 15%;
  padding: 0 30px;
}
#page-wrapper.three-columns .sidebar {
  top: 177px;
  position: fixed;
  width: 14%;
}
#page-wrapper.three-columns .sidebar#left {
  left: 30px;
}
#page-wrapper.three-columns .sidebar#right {
  right: 30px;
  text-align: right;
}
#page-wrapper.three-columns .sidebar h1 {
  margin-top: 15px;
}
#page-wrapper.three-columns .sidebar h1:first-child {
  margin-top: 0;
}
/*--------------------------------------------------------------------------
Navigation
--------------------------------------------------------------------------*/
#main-navigation {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
}
#main-navigation ul li {
  display: inline;
  margin: 0 10px;
}
#main-navigation ul li a {
  color: #3c3a89;
  font-weight: bold;
  text-transform: uppercase;
}
#main-navigation ul li.current_page a {
  text-decoration: none;
}
/*--------------------------------------------------------------------------
Thumbnail Collections
--------------------------------------------------------------------------*/
#thumbnails {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
#thumbnails .thumbnail {
  font-size: 13px;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  width: 160px;
  height: 135px;
  border: 1px solid;
  position: relative;
}
#thumbnails .thumbnail.category_card span {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  height: 25px;
  margin-top: -14px;
  font-weight: bold;
}
.tooltip {
  padding: 15px;
}
