#thumbnails.gallery .thumbnail {
  border:0 none;
  width:140px;
  height:140px;
}
#thumbnails.gallery .thumbnail a {
  border:solid 4px transparent;
  display:block;
  width:100%;
  height:100%;
  background-position:center center !important;
}
#thumbnails.gallery .thumbnail a:hover { background-color:transparent; }
