#thumbnails.gallery .thumbnail {
  border:solid 2px transparent;
  width:150px;
  height:150px;
}
#thumbnails.gallery .thumbnail:hover { border-color:transparent !important; }
#thumbnails.gallery .thumbnail a {
  border:solid 7px transparent;
  display:block;
  width:100%;
  height:100%;
  overflow:hidden;
}
#thumbnails.gallery .thumbnail a:hover { background:transparent !important; }
#thumbnails.gallery .thumbnail a img {
  position:relative;
  top:-8px;
  left:-8px;
}
