#thumbnails .thumbnail.student {
  position:relative;
  border:0 none !important;
}
#thumbnails .thumbnail.student img.hover {
  opacity:0;
  filter:alpha(opacity=@{opacity});
  position:absolute;
  top:0;
  left:0;
  transition-property:all;
  transition-duration:0.2s;
  transition-timing-function:ease-in;
  -webkit-transition-property:all;
  -webkit-transition-duration:0.2s;
  -o-transition-property:all;
  -o-transition-duration:0.2s;
  -moz-transition-property:;
  -moz-transition-duration:0.2s;
  -ms-transition-duration:0.2s;
  -ms-transition-property:;
}
#thumbnails .thumbnail.student:hover img.hover {
  opacity:1;
  filter:alpha(opacity=@{opacity});
}
