.video {
  margin:30px 0 20px;
  text-align:center;
}
.video iframe { margin:0 auto 0; }
.video-swapper {
  font-size:15px;
  text-transform:uppercase;
  font-weight:bold;
  margin-right:10px;
}
.video-swapper.active { font-weight:bold; }
