@import '_mixins.less';

/*--------------------------------------------------------------------------
The Typeface
--------------------------------------------------------------------------*/
.news-gothic() {
	font-family: "news-gothic-std", 'News Gothic MT', Helvetica, sans-serif;
}
.normal-type() {
	font-size: 13px;
	line-height: 18px;
}
.medium-type() {
	font-size: 15px;
	line-height: 17px;
}

/*--------------------------------------------------------------------------
Colours (ALL COLOUR INFO GOES HERE, AND ONLY HERE)
--------------------------------------------------------------------------*/
@seafoam: #CBE8DB;
@navy: #3C3A89;
@red: #F05123;
@yellow: #FFE850;

// WHITE
body#white {
	color: @red;

	a {
		color: @navy;
		&:hover { color: @red }
		&.active-menu-item { color: @red; border-bottom-color: @red }
	}
	#main-navigation .current_page a { color: @red; border-bottom-color: @red }
	h1 {
		color: @red;
	}
	.sidebar {
		color: @navy;
	}
	#side-matter {
		color: @navy;
	}
	#logo a {
		background: url(../images/wordmark.red.png);
	}
	.thumbnail {
		border-color: @navy;
		color: @navy;
	}
	.category_card {
		background: @red;
		color: @seafoam;
	}
	.tooltip {
		background: @navy;
		color: @seafoam;
	}
	.bright-box {
		background: @seafoam;
		color: @navy;
		a { color: @red; &:hover { color: @navy } }
	}
	#map {
		border-color: @red;
	}
	.gallery .thumbnail:hover { border-color: @red; }
	#back-button {
		color: @navy;
		&:hover { color: @red }
	}
}
// YELLOW
body#yellow {
	background: @yellow;
	color: @red;

	a {
		color: @red;
		&:hover { color: @navy }
		&.active-menu-item { color: @navy; border-bottom-color: @navy }
	}
	#main-navigation .current_page a { color: @navy; border-bottom-color: @navy }

	h1 {
		color: @navy;
	}
	#logo a {
		background: url(../images/wordmark.navy.png);
	}
	.thumbnail {
		border-color: @navy;
		color: @red;
	}
	.category_card {
		background: @red;
		color: @seafoam;
	}
	.tooltip {
		background: @navy;
		color: @seafoam;
	}
	.bright-box {
		background: @seafoam;
		color: @navy;
		a { color: @red; &:hover { color: @navy } }
	}
	#map {
		border-color: @navy;
	}
	.gallery .thumbnail:hover { border-color: @red; }
	#back-button {
		color: @red;
		&:hover { color: @navy }
	}
	.timer { color: @navy }
}
// SEAFOAM
body#seafoam {
	background: @seafoam;
	color: @navy;

	a {
		color: @navy;
		&:hover { color: @red }
		&.active-menu-item { color: @red; border-bottom-color: @red }
	}
	#main-navigation .current_page a { color: @red; border-bottom-color: @red }

	h1 {
		color: @red;
	}
	#logo a {
		background: url(../images/wordmark.red.png);
	}
	.thumbnail {
		border-color: @red;
		color: @navy;
	}
	.category_card {
		background: @red;
		color: @seafoam;
	}
	.tooltip {
		background: @navy;
		color: @seafoam;
	}
	.bright-box {
		background: @yellow;
		color: @navy;
		a { color: @red; &:hover { color: @navy } }
	}
	#map {
		border-color: @red;
	}
	.gallery .thumbnail:hover { border-color: @red; }
	#back-button {
		color: @navy;
		&:hover { color: @red }
	}
	.timer { color: @red }
}
// RED
body#red {
	background: @red;
	color: @yellow;

	a {
		color: @yellow;
		&:hover { color: @seafoam }
		&.active-menu-item { color: @seafoam; border-bottom-color: @seafoam }
	}
	#main-navigation .current_page a { color: @seafoam; border-bottom-color: @seafoam }

	h1 {
		color: @seafoam;
	}
	#logo a {
		background: url(../images/wordmark.seafoam.png);
	}
	.thumbnail {
		border-color: @seafoam;
		color: @yellow;
	}
	.category_card {
		background: @yellow;
		color: @navy;
	}
	.tooltip {
		background: @yellow;
		color: @navy;
	}
	.bright-box {
		background: @seafoam;
		color: @navy;
		a { color: @red; &:hover { color: @navy } }
	}
	#map {
		border-color: @navy;
	}
	.gallery .thumbnail:hover { border-color: @navy; }
	#back-button {
		color: @yellow;
		&:hover { color: @navy }
	}
	.timer { color: @seafoam }
}
// NAVY
body#navy {
	background: @navy;
	color: @seafoam;

	a {
		color: @seafoam;
		&:hover { color: @yellow }
		&.active-menu-item { color: @yellow; border-bottom-color: @yellow }
	}
	#main-navigation .current_page a { color: @yellow; border-bottom-color: @yellow }

	h1 {
		color: @yellow;
	}
	#logo a {
		background: url(../images/wordmark.yellow.png);
	}
	.thumbnail {
		border-color: @yellow;
		color: @seafoam;
	}
	.category_card {
		background: @yellow;
		color: @navy;
	}
	.tooltip {
		background: @yellow;
		color: @navy;
	}
	.bright-box {
		background: @yellow;
		color: @navy;
		a { color: @red; &:hover { color: @navy } }
	}
	#map {
		border-color: @yellow;
	}
	.gallery .thumbnail:hover { border-color: @red; }
	#back-button {
		color: @seafoam;
		&:hover { color: @navy }
	}
	.timer { color: @yellow }
}

/*--------------------------------------------------------------------------
Misc Tag Setup
--------------------------------------------------------------------------*/
* {
	.box-sizing(border-box);
}
html {
	overflow-y: scroll;
}

body {
	padding: 30px;
	padding-bottom: 80px;
	.news-gothic();
	.normal-type();
	text-transform: uppercase;

	.nocase {
		text-transform: none;
	}
}
ul {
	list-style-type: none;
}
a {
	text-transform: none;
	border-bottom: solid 2px transparent;
	text-decoration: none;

	&.underlined { text-decoration: underline; }
	&:hover,
	&:active,
	&:focus {
		cursor: pointer !important;
	}
}
h1, h2 {
	margin-bottom: 6px;
	margin-top: 15px;
}

/*--------------------------------------------------------------------------
The Header
--------------------------------------------------------------------------*/
header {
	position: relative;
	height: 80px;
	text-align: center;
	.normal-type();

	#logo {
		margin: 0;
		a {
			display: inline-block;
			width: 177px;
			height: 73px;
			text-indent: -5000px;
			background: url(../images/wordmark.blue.png);
		}
	}

	.timer {
		font-weight: bold;
		position: absolute;
		bottom: 0;

		&#minutes-and-seconds {
			right: 0;
		}
		var {
			font-style: normal;
		}
	}
}

/*--------------------------------------------------------------------------
Layout
--------------------------------------------------------------------------*/
#page-wrapper {
	position: relative;
	margin-top: 30px;
	.normal-type();

	#content {
		position: relative;
	}
	&.three-columns {
		#content {
			width: 70%;
			margin-left: 15%;
			padding: 0 30px;
		}
		.sidebar {
			top: 0;
			position: absolute;
			width: 15%;
			.transitions(top, 1s, ease-in, 0);

			&#left {
				left: 0;
				max-width: 250px;
			}
			&#right {
				right: 0;
				text-align: right;
				max-width: 250px;
			}
			h1 {
				margin-top: 15px;
				margin-bottom: 0;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	&.single-column {
		#content {
			width: 700px;
			margin: 0 auto;
		}
	}
}

/*--------------------------------------------------------------------------
Navigation
--------------------------------------------------------------------------*/
#main-navigation {
	margin-top: 20px;
	text-align: center;
	.medium-type();

	ul {
		li {
			display: inline;
			margin: 0 10px;

			a {
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
			}
			&.current_page a {
				border-bottom: solid 2px @navy;
			}
		}
	}
}

/*--------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------*/
#main-footer {
	@footer-height: 50px;
	color: @navy;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: @footer-height;
	background: white;
	z-index: 999;

	a {
		color: @navy !important;
	}
	#colour-picker {
		position: absolute;
		left: 30px;
		top: 50%;
		margin-top: -10px;
		font-size: 0;
		line-height: 0;

		li {
			display: inline;
			margin-right: 5px;

			&.active a {
				position: relative;
				bottom: -2px;
				border: 2px solid black !important;
			}
			&#set-bg-white a {
				background: white;
				position: relative;
				bottom: -2px;
				border: 2px solid #ddd;
			}
			&#set-bg-yellow a {
				background: @yellow;
			}
			&#set-bg-seafoam a {
				background: @seafoam;
			}
			&#set-bg-red a {
				background: @red;
			}
			&#set-bg-navy a {
				background: @navy;
			}
			a {
				display: inline-block;
				width: 15px;
				height: 20px;
				text-indent: -5000px;
			}
		}
	}

	#social-media {
		text-align: center;
		line-height: @footer-height;

		* {
			display: inline;
		}
		#twitter_update_list {
			padding-left: 30px;
			background: url(../images/social.twitterbird.png) no-repeat left center;

			li > a:last-child {
				color: @red !important;
			}
		}
		#social-links {
			margin-left: 30px;

			li {
				margin-right: 5px;

				a {
					display: inline-block;
					text-indent: -5000px;
					vertical-align: middle;
				}
				&#social-media-facebook a {
					width: 8px;
					height: 16px;
					background: url(../images/social.facebook.png);
				}
				&#social-media-twitter a {
					width: 9px;
					height: 13px;
					background: url(../images/social.twitter.png);
				}
			}
		}
	}
}

/*--------------------------------------------------------------------------
Thumbnail Collections
--------------------------------------------------------------------------*/
#thumbnails {
	text-align: center;
	font-size: 0;
	line-height: 0;

	.thumbnail {
		.normal-type();
		display: inline-block;
		vertical-align: top;
		margin: 10px;
		width: 160px;
		height: 135px;
		border: 1px solid;
		position: relative;

		&.category_card {
			span {
				position: absolute;
				top: 50%;
				left: 0;
				text-align: center;
				width: 100%;
				padding: 0 15px;
				height: 25px;
				margin-top: -14px;
				font-weight: bold;
			}
		}
		&.student {
			margin-bottom: 50px;

			.caption {
				width: 100%;
				position: absolute;
				bottom: -30px;
				white-space: nowrap
			}
		}
	}
}
.tooltip {
	padding: 15px;
	.normal-type();
	font-weight: bold;
	text-transform: none;
}
.active-menu-item {
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 2px;
}
#letters {
	@columns: 4;
	// width: 20px * @columns;
	font-size: 0;
	line-height: 0;
	max-width: 100px;
	margin: 0 0 0 auto; // to make sure it aligns to the right

	li {
		display: inline-block;
		width: 20px;
		height: 20px;

		&:first-child {
			width: 100%;
		}
		a {
			.normal-type();
		}
	}
}