.poster {
	position: absolute;
	background: #ddd;
	cursor: url(/images/open_hand.cur), default !important;

	&.draggedItem { cursor: url(/images/closed_hand.cur), default !important; }
	&.dragging { opacity: 0.5; }
}
#content {
	min-height: 400px;
}